.rightSidebar {
  flex-direction: column;
  border: 1px solid #575757;
  border-radius: 30px;
  position: fixed;
  right: 68px;
  top: 322px;
  width: 55px;
  text-align: center;
  gap: 15px;
  padding: 24px 0;
  background: #1f1f1f;
  z-index: 20;
  display: flex;

  @media (max-width: 2000px) {
    top: 50%;
    transform: translateY(-50%);
  }
}

.toolTip {
  background-color: #575757;
}

.icon {
  cursor: pointer;
  &:hover {
    transition: 0.3s;
    color: var(--mantine-primary-color-9);
  }
}
