.bigText {
  font-size: 48px;
  line-height: 60px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 33px;
}

.bigText > span {
  color: var(--mantine-primary-color-9);
}

.smallText {
  line-height: 30px;
  max-width: 610px;
}

.box {
  border: 1px solid #565656;
  border-radius: 1rem;
}

.icon1 {
  margin-right: auto;
}

.control {
  background-color: #1f1f1f;
  border: #565656;
}

.controls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.root {
  cursor: grab;
  &:hover {
    .controls {
      opacity: 1;
    }
  }
}
