.rightSidebar {
  display: none;

  @media (max-width: 2000px) {
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width: 1220px) {
  .rightSidebar {
    border: 1px solid #575757;
    border-radius: 50%;
    position: fixed;
    right: 68px;
    top: 150px;
    text-align: center;
    padding: 10px;
    background: #1f1f1f;
    z-index: 20;
    display: block;
  }
}

@media (max-width: 800px) {
  .rightSidebar {
    right: 20px;
  }
}
