.time {
  color: #999999;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: var(--mantine-primary-color-9);
  }
}

h3 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 0px;
  color: #fff;
}

P {
  font-size: 15px;
  color: #999999;
  margin-bottom: 18px;
}

.badgeRoot {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: var(--mantine-primary-color-9);
  }
}

.description {
  color: #999999;
}
